# Server
PORT=8080

# Database
DB_DSN=root:root1234@tcp(127.0.0.1:3306)/church_db?parseTime=true

# Cloudflare R2 Object Storage
# You can find these details in your Cloudflare Dashboard under R2 -> API Tokens
R2_ACCOUNT_ID=your_cloudflare_account_id_here
R2_ACCESS_KEY_ID=your_r2_access_key_id_here
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key_here
R2_BUCKET_NAME=hkbp_kernolong
R2_PUBLIC_URL=https://pub-your_public_hash.r2.dev
